<li id="post-<%=post._id%>">
    <p>
        <%=post.content%>

        <%if(locals.user && locals.user.id == post.user.id){%>
            <small>
            <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">X</a>
            </small>
        <%}%>
    </p>
    <p>
    <small>
        <%=post.user.name%>
    </small>
    </p>

    <!-- Adding coment -->
    <div class="post-comments">

        <!-- to display comment -->
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>
                    <%- include('_comments') -%>
                <%} %>
            </ul>
        </div>
    <%if(locals.user){%>
        <form action="/comments/create" id="new-comment-form" method="post">
            <textarea name="content" cols="10" rows="2" placeholder="comment here..." required></textarea>
            <input type="hidden" name="postId" value="<%=post._id%>">        <!-- sending the post id for which comment need t be added -->
            <button type="submit">Comment</button>
        </form>
        <%}%>
    </div>
</li>