<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Home page rendered from EJS.</h1>
    <%if(!locals.user){%>
        <li>
            <a href="/users/sign-in">Sign In</a>
        </li>
        <li>
            <a href="/users/sign-up">Sign Up</a>
        </li>
    <%}%>

    <%if(locals.user){%>
        <li>
            <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
        </li>
    <%}%>

    <!-- User's Feed -->
    <section id="feed-post">
        <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="10" placeholder="Your Content goes here..." required></textarea>
            <button type="submit">Post</button>
        </form>
        <%}%>
    </section>
    <div id="posts-list-container"> 
        <ul>
            <%for(post of posts){%>
                <%- include('_posts') -%>
            <%}%>
        </ul>
    </div>

    <!-- showing users -->
    <section id="user-friend">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
            </p>
        <%}%>
    </section>

</body>
</html>