<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
    <header>
    
        <ul>
                <li>
                    
                    <a href="/users/sign-out">Sign Out</a>
                    <br>
                    <a href="/">Home</a>
                </li>
            
        </ul>
    </header>
    
    <div id="avatar">
        <!-- <img src="<%=user.avatar%>" alt="<%=user.name%>'s avatar" height="100px" width="100px" style = border-radius: 50%;> -->
        <img src="<%=user.avatar%>" alt="Image Description" style="border-radius: 50%; display:inline-block; width: 100px; height: 100px; margin-right: 10px;">

    </div>
    
    <p>
        <%=profile_user.name%>
    </p>
    <p>
        <%=profile_user.email%>
    </p>
    
    <!-- profile is viewed only when user is logged in -->
    <!-- so if ther user matches then show the update else only show the user info -->
    <% if(profile_user.id == user.id){ %>
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
            <input type="text" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
            <input type="file" name="avatar" placeholder="Profile Picture">
            <button value="submit">Submit</button>
        </form>
    <% } %>
    <!-- <script>
    <% if(flash.success && flash.success.length > 0){ %>
        new Noty({
            text: '<%= flash.success %>',
            animation: {
                open: 'animated bounceInRight', // Animate.css class names
                close: 'animated bounceOutRight' // Animate.css class names
            },
            type : 'success',
            layout : 'topRight',
            timeout : 1500
        }).show();
    <%}%>

    // for error
    <% if(flash.error && flash.error.length > 0){ %>
        new Noty({
            text: '<%= flash.error %>',
            animation: {
                open: 'animated bounceInRight', // Animate.css class names
                close: 'animated bounceOutRight' // Animate.css class names
            },
            type : 'eroor',
            layout : 'topRight',
            timeout : 1500
        }).show();
    <%}%>
    </script> -->
</body>
</html>